.countries-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    background-color:$LM-very-light-gray;
    margin:1rem 3rem;
}
.card{
    @include shadow();
    border-radius: 0.5rem;
    padding-bottom: 2rem;
    max-width:80vw;
    &__img{
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        min-width:80vw;
        max-width:80vw;
        // min-height:100px;
        // max-height: 250px;
    }
    &__title{
        font-size: 2rem;
        font-family: 'Nunito 800';
        padding:2rem 3rem;
    }
    &__population-header,&__region-header,&__capital-header{
        font-size: 1.5rem;
        font-family: 'Nunito 600';
        padding:0.5rem 3rem;
    }
    &__population-content,&__region-content,&__capital-content{
        font-family: 'Nunito 300';
        padding-left:0.5rem;
    }
}