.countries-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    background-color:$LM-very-light-gray;
    margin:1rem 3rem;
    @media screen and (min-width: 960px){
        display:grid;
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: 1280px){
        display:grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
.card{
    @include shadow();
    border-radius: 0.5rem;
    padding-bottom: 2rem;
    background-color: $white;
    max-width:80vw;

    //make it clickable
    cursor: pointer;
    
    @media screen and (min-width: 960px){
        max-width: 40vw;
        min-height: 400px;
    }
    @media screen and (min-width: 1280px){
        max-width: 20vw;
        min-height: 300px;
    }
    &__img{
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        min-width:80vw;
        max-width:80vw;
        max-height: 300px;
        @media screen and (min-width: 960px){
            min-width: 40vw;
            max-width: 40vw;
            max-height: 250px;
        }
        @media screen and (min-width: 1280px){
            min-width: 20vw;
            max-width: 20vw;
            max-height: 200px;
        }
        // min-height:100px;
        // max-height: 250px;
    }
    &__title{
        font-size: 2rem;
        font-family: 'Nunito 800';
        padding:2rem 3rem;
        @media screen and (min-width: 1280px){
            padding:2rem 1.5rem;
        }
    }
    &__population-header,&__region-header,&__capital-header{
        font-size: 1.5rem;
        font-family: 'Nunito 600';
        padding:0.5rem 3rem;
        @media screen and (min-width: 1280px){
            padding:0.5rem 1.5rem;
            font-size: 1.2rem;
        }
    }
    &__population-content,&__region-content,&__capital-content{
        font-family: 'Nunito 300';
        padding-left:0.5rem;
    }
}