.header{
    background-color: $white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 1.5rem;
    font-size: 1.4rem;
    -webkit-box-shadow: 0px 5px 5px -4px rgba(198,198,198,0.67); 
    box-shadow: 0px 5px 5px -4px rgba(198,198,198,0.67);
    
    &__title{
        font-family: 'Nunito 800';
        color:$LM-very-dark-blue;
        
        
    }
    &__button{
        font-family: 'Nunito 300';
    }
}