// dark mode
$DM-dark-blue:hsl(209, 23%, 22%);//element
$DM-very-dark-blue:hsl(207, 26%, 17%);//background
// light mode
$LM-very-dark-blue:hsl(200, 15%, 8%);//text
$LM-dark-gray:hsl(0, 0%, 52%);//input
$LM-very-light-gray:hsl(0, 0%, 98%);//background

//Dark mode text - light mode elements
$white:hsl(0, 0%, 100%);
