html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Nunito 300";
  src: url("../../public/fonts/NunitoSans-Light.ttf");
}
@font-face {
  font-family: "Nunito 600";
  src: url("../../public/fonts/NunitoSans-SemiBold.ttf");
}
@font-face {
  font-family: "Nunito 800";
  src: url("../../public/fonts/NunitoSans-ExtraBold.ttf");
}
.header {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2.8rem 1.5rem;
  -webkit-box-shadow: 0px 5px 5px -4px rgba(198, 198, 198, 0.67);
  box-shadow: 0px 5px 5px -4px rgba(198, 198, 198, 0.67);
  color: #111517;
}
.header__title {
  font-family: "Nunito 800";
  font-size: 1.4rem;
}
.header__button {
  font-family: "Nunito 600";
  font-size: 1.2rem;
  cursor: pointer;
}
.header__icon {
  padding-right: 0.5rem;
}

.form-country {
  display: flex;
  flex-direction: column;
}
.form-country__input, .form-country .search {
  margin: 2.5rem 1.5rem;
  display: flex;
  -webkit-box-shadow: 0px 5px 5px -4px rgba(198, 198, 198, 0.67);
  box-shadow: 0px 5px 5px -4px rgba(198, 198, 198, 0.67);
}
.form-country__input__input, .form-country .search__input {
  background-color: white;
  color: #858585;
  font-size: 1.3rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  width: 100%;
  border: 0;
  font-family: "Nunito 600";
  outline: none;
}
.form-country__input__icon, .form-country .search__icon {
  background-color: white;
  color: #858585;
  font-size: 1.3rem;
  border-bottom-left-radius: 0.5em;
  border-top-left-radius: 0.5rem;
  padding: 2rem 3rem;
  cursor: pointer;
}
.form-country__dropdown__button, .form-country .dropdown-region__button {
  margin: 1.5rem 1.5rem;
  margin-bottom: 0.5rem;
  background-color: white;
  max-width: 15rem;
  padding: 2rem 3rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 5px 5px -4px rgba(198, 198, 198, 0.67);
  box-shadow: 0px 5px 5px -4px rgba(198, 198, 198, 0.67);
}
.form-country__dropdown__icon, .form-country .dropdown-region__icon {
  position: relative;
  float: right;
}
.form-country__dropdown__content, .form-country .dropdown-region__content {
  display: none;
  flex-direction: column;
  position: absolute;
  min-width: 15rem;
  background-color: white;
  margin: 1.5rem 1.5rem;
  margin-top: 0.5rem;
  padding: 0rem 3rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 5px 5px -4px rgba(198, 198, 198, 0.67);
  box-shadow: 0px 5px 5px -4px rgba(198, 198, 198, 0.67);
}
.form-country__dropdown__item, .form-country .dropdown-region__item {
  background-color: white;
  max-width: 15rem;
  padding: 0.5rem 0rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: #111517;
}

.countries-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  background-color: #fafafa;
  margin: 1rem 3rem;
}

.card {
  -webkit-box-shadow: 0px 5px 5px -4px rgba(198, 198, 198, 0.67);
  box-shadow: 0px 5px 5px -4px rgba(198, 198, 198, 0.67);
  border-radius: 0.5rem;
  padding-bottom: 2rem;
}
.card__img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  max-width: 100%;
}
.card__title {
  font-size: 2rem;
  font-family: "Nunito 800";
  padding: 2rem 3rem;
}
.card__population-header, .card__region-header, .card__capital-header {
  font-size: 1.5rem;
  font-family: "Nunito 600";
  padding: 0.5rem 3rem;
}
.card__population-content, .card__region-content, .card__capital-content {
  font-family: "Nunito 300";
  padding-left: 0.5rem;
}

body {
  font-size: 87.5%;
  background-color: #fafafa;
}

/*# sourceMappingURL=style.css.map */
